.navbar-brand {
  margin-left: 20px;
}
.nav-items {
  padding: 0px 20px;
}
.register {
  margin-right: 20px;
}
.container-fluid {
  padding: 10% 8%;
}
h1 {
  font-weight: 700;
  font-size: 3rem;
  margin-bottom: 30px;
}
p {
  margin-bottom: 30px;
}
.side {
  width: 60%;
  margin-left: 100px;
}
.navbar-brand {
  font-size: 25px;
  font-weight: 800;
}
.img {
  width: 20%;
  margin-top: 100px;
}
